.book-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 420px;
  border-radius: 20px;
  background-color: #f1ecff;
  padding: 4rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05), -5px -5px 10px rgba(0, 0, 0, 0.05), 5px -5px 10px rgba(0, 0, 0, 0.05), -5px 5px 10px rgba(0, 0, 0, 0.05);
  gap: 2rem;
}
.book-card .book-image {
  width: 200px;
  height: 250px;
  margin-right: 1rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.07), -5px -5px 10px rgba(0, 0, 0, 0.07), 5px -5px 10px rgba(0, 0, 0, 0.07), -5px 5px 10px rgba(0, 0, 0, 0.07);
}
.book-card .book-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .book-card {
    flex-direction: column;
    width: 60%;
    height: 600px;
  }
  .book-card .book-image {
    width: 100%;
    height: 300px;
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
.book-card .book-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding-top: 4rem;
}
.book-card .book-details .book-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #20387E;
}
.book-card .book-details .book-author {
  font-size: 1.1rem;
  font-weight: 500;
  color: #666;
  font-style: italic;
  margin-top: -0.5rem;
  margin-bottom: 1.5rem;
}
.book-card .book-details .rate {
  width: auto;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 8px;
  padding: 5px;
}
.book-card .book-details .rate .star-icon {
  box-shadow: none;
  width: 22px;
  height: 22px;
  padding-bottom: 2px;
}
.book-card .book-details .rate .rate-number {
  font-size: 1rem;
  font-weight: 550;
  margin-left: 8px;
  margin-right: 8px;
  font-style: normal;
  color: #20387E;
}
.book-card .book-details .book-category-box {
  width: auto;
  height: 30px;
  background-color: #20387E;
  border-radius: 8px;
  padding: 5px;
  border: none;
  outline: none;
  transition: all 0.3s ease;
}
.book-card .book-details .book-category-box:hover {
  background-color: #fff;
  cursor: pointer;
}
.book-card .book-details .book-category-box:hover .book-category {
  color: #20387E;
  font-weight: 700;
}
.book-card .book-details .book-category {
  font-size: 1rem;
  font-weight: 550;
  margin: 0 10px;
  color: #fff;
  width: 150px;
}
.book-card .book-details .book-actions {
  display: flex;
  margin-left: -16px;
}
.book-card .book-details .book-actions .action-btn {
  width: 60px;
  height: 60px;
  padding: 0.5rem 0.5rem;
  border: none;
  outline: none;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.book-card .book-details .book-actions .action-btn:hover {
  opacity: 0.8;
}
.book-card .book-details .book-actions .action-btn .star-action-icon {
  width: 30px;
  height: 30px;
  padding-bottom: 2px;
  background-image: url("../../assets/svg/unchecked-star.svg");
  background-size: cover;
}
.book-card .book-details .book-actions .action-btn .un-star-action-icon {
  width: 30px;
  height: 30px;
  background-image: url("../../assets/svg/star.svg");
  background-size: cover;
}
.book-card .book-details .book-actions .action-btn .download-action-icon {
  width: 40px;
  height: 40px;
  background-image: url("../../assets/svg/download.svg");
  background-size: cover;
}
.book-card .book-details .book-actions .download {
  background-color: #fff;
  color: #8E42D3;
  border: 1px solid #8E42D3;
  width: 40px;
  height: 40px;
}
.book-card .book-details .book-actions .download:hover {
  background-color: #f00;
  color: #fff;
}/*# sourceMappingURL=Book.css.map */